/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: "Open Sans", sans-serif; */
  background-color: #000;
  position: relative;
}

.section-center {
  width: 100%;
  max-width: 1240px;
  margin: auto;
  margin-bottom: 4rem;
}

/* .carousel-track {
  display: flex;
  animation: scroll-left 50s linear infinite;
  gap: 16px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
} */
